body, div, section, aside, footer, nav,span, p, ul, li, a, button, input, table, td, tr {
	margin:0;
	padding:0;
}

img {
	width:100%;
	max-width:100%;
}

.l-horizontal-list {
	li {
		display:inline;
		margin-right:15px;
	}
}

.l-box {
	display:block;
	padding:15px;
}