%full-view {
	height:100%;
	width:100%;
	padding-top:5%;
	text-align:center;
}

%intro-text {
	text-indent:30px;
	text-align:left;
	&::first-letter {
		font-size:1.3em;
	}
}

#admin-navigation {
	position:fixed;
	left:0;
	top:60px;
	background-color:$color-secondary;
	z-index:999;
	a {
		display:block;
		padding:20px 15px;
		text-align:center;
		color: white;
		font-size:1.5em;
	}
}
.page-header {
	position:fixed;
	z-index:999;
	top:0;
	right:0;
	padding-right:80px;
	width:30%;
	background-color:$color-neutral-lighter;
	text-align:center;

	#user-navigation {
		padding:5px 10px;
		background: $color-neutral;
		font-size:0.8em;
		text-align:right;

		a {
			color:white
		}
	}
	div {
		margin:15px;
	}
}

#home-slider {
	/*background: $color-neutral-lighter url('/images/home_bg.jpg') no-repeat;*/
	background-size:100%;
	#home-intro {
		padding-top:60%;
		@extend %intro-text;
	}
}

#home-slider,#about, #contacts {
	@extend %full-view;
}

.intro-text {
	@extend %intro-text;
}

.button {
	display:inline-block;
	padding:7px 15px;
	border:none;
	&.primary {
		background-color:$color-primary;
		color:white;
		&:hover {
			background-color:$color-primary-dark;
			cursor: pointer;
		}
	}

	&.secondary {
		background-color:$color-secondary;
		color:white;
		&:hover {
			background-color:$color-secondary-dark;
			cursor:pointer;
		}
	}

	&.default {
		background-color:$color-neutral;
		color:white;
		&:hover {
			background-color:$color-neutral-dark;
			cursor: pointer;
		}
	}

	&.sm {
		padding:3px 10px;
		font-size:0.9em;
	}
}

.image-row {
	text-align:center;
	img {
		display:inline-block;
		box-shadow:0 0 0 2px $color-neutral, 0 0 0 5px  white;
		margin-right:6%;
	}

	&.by-3 {
		img {
			width:27%;
		}
	}
}

.product-teaser {
	padding:15px;
	background: white;
}

.form-container {
	padding:30px;
	background:white;
	width:100%;
	max-width:900px;
	margin:0 auto;
	.form-group {
		margin-bottom:30px;

		input {
			display:inline-block;
			padding:7px 15px 3px 0;
			border:0;
			color: $color-neutral-dark;
			border-bottom: 1px solid #E3E9EF;
			background:none;
			box-shadow:none ;
		}

		select {
			padding:15px;
			border: 1px solid #E3E9EF;

		}
	}
}

.panel {
	padding:30px;
	background:white;
	width:100%;
}

.shop-list-item {
	.shop-list-image{
		width:100px;
		height:100px;
		overflow:hidden;
		background-position:center center;
		background-size:cover;
		float:left;

	}

	.sjop-list-content {
		width:80%;
		float:left;
	}
}