$color-primary:#D588AD;
$color-primary-dark:#AE6E86;

$color-secondary: #3D8EA1;
$color-secondary-dark: #135969;

$color-neutral: #ccc;
$color-neutral-lighter: #efefef;
$color-neutral-dark: #777;

$color-black: #222;

$display-font-family: 'Marck Script', cursive;

$sans-font-family: 'Open Sans', sans-serif;
