<h1>Здравейте, <%= @user.fname %></h1>
<p>Получавате това съобщение, защото се регистрирахте в ArtGarbage Atelier. Моля, <a href="<%= @activation_link %>" %>">кликнете тук</a>, за да активирате своя профил или копирайте линка по-долу в браузъра си:</p>
<p><%= @activation_link %></p>
<p>Поздрави,</p>
<em>Екипът на Art Garbage Atelier</em>