<h1>Здравейте,</h1>
<p>Благодарим за направената поръчка (ID: <%= @order.id %>). Наш представител ще се свърже с Вас, за да потвърди доставката и уточни цената на транспорт.</p>
<p>Поздрави,</p>
<em>Екипът на Art Garbage Atelier</em>