<section id="home-slider">
	<div class="l-main">
		<img src="/images/home_bg.jpg" style="width:20%; position:absolute; top:20%; left:2%; transform:rotate(-6deg); border:5px solid white; box-shadow:0 0 2px #ccc; opacity:0.5;"/>
		<img src="/images/home_bg.jpg" style="width:35%; position:absolute; top:10%; left:20%; transform:rotate(3deg); border:5px solid white; box-shadow:0 0 2px #ccc; opacity:0.8;"/>
		<img src="/images/home_bg.jpg" style="width:45%; position:absolute; top:29%; left:7%; transform:rotate(-4deg); border:5px solid white; box-shadow:0 0 2px #ccc"/>
	</div>
	<div class="l-sidebar">
		<p id="home-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptates minus aliquid assumenda repudiandae reiciendis quas quae magnam, veniam accusantium vitae possimus voluptas tempora unde quod commodi cumque praesentium quam dolorum, odit, at eaque, inventore neque nemo laudantium! Totam fuga quas est earum cupiditate accusamus reiciendis, quis deleniti placeat, blanditiis.</p>
	</div>
</section>

<section id="about" class="clearfix">
	<div class="l-main">
		<h2>За нас</h2>
		<a class="button" href="/products">Всички продукти</a>
		<p class="intro-text l-push-double-top">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vel, soluta aliquid eius reiciendis provident alias in distinctio consequuntur dolores, eaque obcaecati dolor atque accusamus, nemo illum debitis odit voluptate labore. Ipsam eligendi dolore iste esse, similique accusamus totam perspiciatis sapiente quaerat excepturi deleniti odio quae magnam magni fugit quos.</p>
		<div class="image-row by-3 l-push-top">
		<img src="http://craftionary.net/wp-content/uploads/blogger/-LI5R5elHcUA/TxEjERJvbxI/AAAAAAAAC-4/tN7bb5GtzH0/s640/mini-tote-bag-tutorial.JPG"/><img src="http://craftionary.net/wp-content/uploads/blogger/-LI5R5elHcUA/TxEjERJvbxI/AAAAAAAAC-4/tN7bb5GtzH0/s640/mini-tote-bag-tutorial.JPG"/><img src="http://craftionary.net/wp-content/uploads/blogger/-LI5R5elHcUA/TxEjERJvbxI/AAAAAAAAC-4/tN7bb5GtzH0/s640/mini-tote-bag-tutorial.JPG"/>
		</div>
	</div>
</section>

<section id="contacts" class="clearfix">
	<div class="l-main">
		<h2>Контакти</h2>
	</div>
</section>