<section id="home-slider">
	<img src="/images/home_bg.jpg" />
</section>

<section id="product-categories">
	<h2>Categories</h2>
	<ul class="grid">
		<li class="grid-item">Категория 1</li>
		<li class="grid-item">Категория 2</li>
		<li class="grid-item">Категория 3</li>
		<li class="grid-item">Категория 4</li>
		<li class="grid-item">Категория 5</li>
		<li class="grid-item">Категория 6</li>
	</ul>
	<a class="button" href="/products">Всички продукти</a>
</section>

<section id="contacts">
	<h2>Контакти</h2>
</section>