<form action="/products/create" method="POST">
	<input type="text" name="title" placeholder="Име на продукта">
	<input type="text" name="summary" placeholder="Кратко описание">
	<input type="number" name="price" placeholder="Цена">
	<input type="submit">
</form>