<nav id="admin-navigation">
	<a href="/products/create" title="Добави продукт"><i class="fa fa-plus"></i></a>
	<a href="/products/edit" title="Редактирай продукт"><i class="fa fa-pencil"></i></a>
	<a href="/purchase/all-orders" title="Поръчки"><i class="fa fa-calculator"></i></a>
</nav>