<nav id="main-navigation" class="l-box">
	<ul class="l-horizontal-list">
		<li><a href="/">Начало</a></li>
		<li><a href="/#product-categories">Подаръци</a></li>
		<li><a href="/#contacts">Начало</a></li>
	</ul>
</nav>