<html>
<head>
	<link  rel="stylesheet" type="text/css"  href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,600italic,400italic,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</head>
<body>
	<%=	styled_flash %>
	<% if current_user && current_user.is_admin then %>
		<%= render_template '_admin_navigation' %>
	<% end %>
	<div class="l-container">
		<h1><a id="logo">ArtGarbage Atelier</a></h1>
		<header class="page-header l-pull-right">
			<div><%= render_template '_main_navigation' %></div>
		</header>
		<%= yield %>
	</div>

	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/masonry/dist/masonry.pkgd.min.js"></script>
	<script src="/components/jquery-cookie/jquery.cookie.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>