<section class="l-main l-push-double-top">
	<% for @order in @orders %>
		<article class="l-push-bottom panel">
			<div class="h2">Поръчка AG-A<%="#{@order.id}/#{@order.created_at}"%></div>
			<small>
				<%= erb :'purchase/_order_list_item' %>
			</small>
		</article>
	<% end %>
</section>